@import '../varialbesColor/variable.scss';

.cardData{
    cursor: pointer;
    img {
        height: 100%;
        width: 100%;
        transition: transform 0.3s ease;
       
    }

}
.cardData:hover img {
    transform: scale(1.05);
  }