$white-color:white;
$bg-333-color:#333;
$bg-aliceblue-color:aliceblue;
$red-color:red;
$darkgray-color: darkgray;
$green-color:green;
$orange-color:orange;
$cadetblue-color:cadetblue;
$burlywood-color:burlywood;
$seagreen-color:seagreen;
$g0070f3-color:#0070f3;
$aqua-color:aqua;
$yellow-color:yellow;
$rosybrown-color:rosybrown;
