@import '../components/varialbes/variable.scss';
.container{
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    margin: 2rem;
    h2 ,p{
        font-family: 'Times New Roman', Times, serif;
        color: $bg-333-color;
        font-size:xx-large;
        font-weight:lighter
    }
    p{
        text-align: center;
    }
   .imgdata{
    position: relative;
   }
   .paragraph{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-Align: center;
    color: $white-color;
   }
}