.container {
    a {
        text-decoration: none;
    }


}

.wrapper {
    display: flex;
    justify-content: center;

    .imgpic {
        padding: 1rem;
        border-radius: 1rem;

        img {
            // width: 100%;
            height: 100%;
            border-radius: 1rem;
            cursor: pointer;
            transition: transform 0.3s ease;
            display: block;
            margin-left: auto;
            margin-right: auto;
            object-fit: cover;
        }
    }

    .quantity {

        text-align: center;
    }

    button {
        border-radius: 0.5rem;

        span {
            color: aliceblue;
        }

        &.dec {

            background-color: red;
            border-color: red;
        }

        &.inc {


            background-color: green;
            border-color: green;
        }

        &.rem {
            background-color: orange;
            border-color: orange;

        }
    }

    .containerData {

        ul {
            list-style: none;

            li {
                p {
                    font: 1em sans-serif;

                    &.desc {
                        margin-top: 10px;
                    }

                    span {
                        &.originalPrice {
                            color: darkgray;
                            text-decoration: line-through;

                        }


                        &.discountprice {
                            margin-left: 10px;
                        }
                    }


                }

                h6 {
                    text-transform: capitalize;
                    color: #333;
                }

            }
        }
    }

}

.wrapper:hover img {
    transform: scale(1.05);
}