.wrapper{
    .imgpic{
        padding: 1rem;
        border-radius: 1rem;
        img{
            border-radius: 1rem; 
            cursor: pointer;
            transition: transform 0.3s ease;
        }
    }
    .containerData{
       
                ul{
                    list-style: none;
                }
            }
    
}
.wrapper:hover img {
    transform: scale(1.05);
  }