@import '../components/varialbes/variable.scss';
.wrapper {
  display: flex;
  flex-direction: column;

  .imges {
    display: flex;
    justify-content: center;
  }

  .contentdata {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  button {
    &.buttonR {
      border-color: $seagreen-color;
      background-color: $seagreen-color;

      span {
        color: $bg-aliceblue-color;
      }
    }
  }


  &>div {
    button {
      width: 70%;
      height: 100%;
      border-radius: 1rem;
      border-color:$white-color;
      padding: 0.5rem;


    }
  }
}