
.wrapper{
     background-image: url('../../public/homeimg/img1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
        width: auto;

}
