@import '../components/varialbes/variable.scss';

.content1 {
    height: 200px;
    width: 100px;
    background-color: $aqua-color;
    position: relative;
    top: 0px;
    z-index: 9;

}

.content2 {
    height: 100px;
    width: 100px;
    background-color: $yellow-color;
    position: absolute;
    z-index: 1;
}

.content3 {
    height: 100px;
    width: 100px;
    background-color: $red-color;
    position: absolute;
    z-index: 2;
}

.scrollbtn {
    display: flex;
    justify-content: right;
    padding: 1rem;
    position: fixed;
    bottom: 150px;
    right: 20px;
    z-index: 9999;

    button {
        border-radius: 1rem;
        border-color: transparent;
        background-color: #333;

        svg {
            vertical-align: text-top;
            color: white;
            font-weight: bold;
        }

    }
}