
@import '../components/varialbes/variable.scss';
.content1 {
    height: 200px;
    width: 100px;
    background-color: $aqua-color;
    position: relative;
    top: 0px;
    z-index: 9;

}

.content2 {
    height: 100px;
    width: 100px;
    background-color: $yellow-color;
    position: absolute;
    z-index: 1;
    

}
.content3 {
    height: 100px;
    width: 100px;
    background-color:$red-color;
    position: absolute;
    z-index: 2;
   


}