/* ShimmerEffect.module.css */

.shimmer {
    background: linear-gradient(
      to right,
      #f6f7f8 8%,
      #e2e4e6 18%,
      #f6f7f8 33%
    );
    background-size: 800px 104px;
    height: 104px;
    position: relative;
    animation: shimmer 1s infinite linear;
  }
  
  @keyframes shimmer {
    0% {
      left: -200px;
    }
    100% {
      left: 100%;
    }
  }
  