@import '../components/varialbes/variable.scss';
.containerdata{
  img{
      object-fit:cover;
      width:100%;
 
    
   
  }
}
.carousel {
  .carousel-inner {
    .carousel-item {
      img {
        max-height: 500px;
        object-fit: cover;
        
      }
      .carousel-caption {
        background-color:$bg-333-color ;
        color: $white-color;
        padding: 20px;
        text-align: center;
        h5 {
          font-size: 2rem;
          font-weight: bold;
          margin-bottom: 10px;
        }
        p {
          font-size: 1.2rem;
          margin-bottom: 0;
        }
      }
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
    font-size: 2rem;
    color: $white-color;
    text-shadow: none;
    opacity: 0.5;
    &:hover {
      color: $white-color;
      text-decoration: none;
      opacity: 0.9;
      background-color: $bg-333-color;
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none;
  }
  .carousel-indicators {
    li {
      background-color: $white-color;
      opacity: 0.5;
      &.active {
        background-color: $white-color;
        opacity: 1;
      }
    }
  }
}
