.wrapper{
   a{
    color: white;
   }
   button{
    span{
        color: white;
    }
   }
   .content{
    display: flex;
    justify-content: flex-end;
   }
    >div{
        ul{
            li{
                  padding: 1rem;
                    color:white;
              
            }
        }
    }

}